<!-- Header -->
<header class="w3-display-container w3-content" style="max-width:1200px;">
  <div class="w3-center">
    <img class="w3-image" src="{{ url_for('static', filename='img/assembly.webp') }}" alt="Assembly" style="min-width:900px">
  </div>
  <div class="w3-display-middle w3-col l8 m8">
    <div class="w3-container w3-red">
      <h1><i class="fa-solid fa-comment w3-margin-right"></i> {{_("Ajouter une prise de position")}}</h1>
    </div>
    <div class="w3-container w3-white w3-padding-16">
      <form action="{{url_for("stance.new")}}" method="POST">
        {{ g.form.hidden_tag() }}
        <div class="w3-row-padding" style="margin:0 -24px;">
          <div class="w3-twothird w3-margin-bottom">
            <label for="representative"><i class="fa fa-user"></i> {{_("Représentant")}}</label>
            <input class="w3-input w3-border" type="text" value="" placeholder="{{_("Nom du représentant")}}" id="representative" name="representative" required autofocus>
          </div>
          <div class="w3-third w3-margin-bottom">
            <label for="date"><i class="fa fa-calendar-days"></i> {{_("Date")}}</label>
            <input class="w3-input w3-border" type="date" lang="fr-FR" value="{{g.form.date.data}}" placeholder="YYYY-MM-DD" id="date" name="date">
          </div>
        </div>
        <div class="w3-row-padding" style="margin:0 -16px;">
          <div class="w3-margin-bottom">
            <label for="source"><i class="fa fa-location-dot"></i> {{_("Source")}}</label>
            <input class="w3-input w3-border" type="text" value="" placeholder="https://..." id="source" name="source" required >
          </div>
        </div>
        <div class="w3-row-padding" style="margin:8px -16px;">
          <div class="">
            <label for="stance"><i class="fa fa-comment"></i> {{_("Prise de position")}}</label>
            <textarea class="w3-input w3-border" rows="6" placeholder="Sunt esse alias maxime. Sit molestias voluptates ipsam quis aliquid voluptas minus sequi. Non exercitationem ipsa voluptatibus voluptate." id="message" name="message" required></textarea>
          </div>
        </div>
        <button class="w3-button w3-blue w3-right w3-round" type="submit"><i class="fa fa-plus w3-margin-right"></i> {{_("Ajouter")}}</button>
      </form>
    </div>
  </div>
</header>
