{% extends "base/base.html" %}
{%block title%}{{_("Profil")}}{%endblock%}
{% block main %}
<div class="w3-content" style="max-width:1532px;">
  <h1>{{ _("Profil") }}</h1>

  {%include("user/profile_header.html")%}

  <h2>{{_("Vos informations personnelles")}}</h2>
  <div class="w3-content w3-row-padding">
    <form method="post" action="{{url_for('user.profile')}}">
    {{g.form.hidden_tag()}}
    <div class="w3-margin">
      <div>{{_("Identifiant :")}} {{current_user.login}}</div>
    </div>
    <div class="w3-margin">
    {{render_input(g.form.email, class_="w3-input w3-border")}}
    </div>
    <div class="w3-margin w3-right">
    <input class="w3-button w3-round w3-blue" type="submit" value="{{_('Mettre à jour')}}">
    </div>
    </form>
  </div>
</div>
{% endblock %}