{% extends "base/base.html" %}
{%block title%}{{_("Inscription")}}{%endblock%}
{% block main %}
<h1>{{ _("Inscription") }}</h1>
<div class="w3-content w3-row-padding" style="max-width:50em">
  <form method="post" action="{{url_for('user.register')}}">
    {{g.form.hidden_tag()}}
    <div class="w3-margin">
    {{render_input(g.form.login, class_="w3-input w3-border")}}
    </div>
    <div class="w3-margin">
    {{render_input(g.form.password, class_="w3-input w3-border")}}
    </div>
    <div class="w3-margin">
    {{render_input(g.form.password_confirmation, class_="w3-input w3-border")}}
    </div>
    <div class="w3-margin">
    {{render_input(g.form.email, class_="w3-input w3-border")}}
    </div>
    <div class="w3-margin w3-right">
    <input class="w3-button w3-round w3-blue" type="submit" value="{{_("S'inscrire")}}">
    <a class="w3-button w3-round w3-black" href="{{url_for('core.index')}}">{{_("Retour")}}</a>
    </div>
    </form>
  </div>
</div>
{% endblock %}