{% from "base/formhelper.html" import render_checkbox, render_input, render_select, render_textarea %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="partage">
  <meta name="Description" content="{{g.header_description}}" />
  <meta name="Keywords" content="{{g.header_keywords}}" />
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/website.css') }}">
  <title>{%block title%}{{_("Accueil")}}{%endblock%} - Politikorama</title>
  {% block header %}{% endblock %}
</head>
<body>
  {% include "base/menu.html" %}
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="w3-container w3-margin">
    {% for category, message in messages %}
    <div class="w3-panel alert-{{category}} w3-border w3-display-container">
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <p>{{ message }}</p>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  <section>
  {% block main %}{% endblock %}
  </section>
  {% include "base/footer.html" %}
</body>
</html>