{% macro render_input(field) %}
<div>{{ field.label }} :
{{ field(**kwargs)|safe }}
<i>{{ field.description }}</i>
{% if field.errors %}
<ul class="errors">
  {% for error in field.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}
</div>
{% endmacro %}

{% macro render_checkbox(field) %}
<div>{{ field(**kwargs)|safe }} {{ field.label }}
<div><i>{{ field.description }}</i></div>
{% if field.errors %}
<ul class="errors">
  {% for error in field.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}
</div>
{% endmacro %}

{% macro render_select(field) %}
<div>{{ field.label }}
{{ field(**kwargs)|safe }}
<i>{{ field.description }}</i>
{% if field.errors %}
<ul class="errors">
  {% for error in field.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}
</div>
{% endmacro %}

{% macro render_textarea(field) %}
<div><p>{{ field.label }}</p>
{{ field(**kwargs)|safe }}
<p><i>{{ field.description }}</i></p>
{% if field.errors %}
<ul class="errors">
  {% for error in field.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}
</div>
{% endmacro %}
