<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-large w3-border-bottom">
  <a href="{{url_for('core.index')}}" class="w3-bar-item w3-button w3-mobile"><img src="{{ url_for('static', filename='img/logo_border_64.png') }}" style="height:32px" class="w3-margin-right" /> <span class="w3-hide">Politikorama</span></a>
  {% if current_user.is_anonymous %}
<!--  <a href="{{url_for('user.register')}}" class="w3-bar-item w3-button w3-right w3-hover-blue w3-text-grey"><span class="fa fa-pen-to-square w3-margin-right w3-hide-small"></span>{{_("S'inscrire")}}</a>-->
  <a href="{{url_for('user.login')}}" class="w3-bar-item w3-button w3-right w3-hover-blue w3-text-grey"><span class="fa fa-circle-user w3-margin-right w3-hide-small"></span>{{_("Se connecter")}}</a>
  {% else %}
  <a href="{{url_for('user.logout')}}" class="w3-bar-item w3-button w3-right w3-hover-blue w3-text-grey"><span class="fa fa-right-to-bracket w3-margin-right w3-hide-small"></span>{{_("Se déconnecter")}}</a>
  <a href="{{url_for('user.profile')}}" class="w3-bar-item w3-button w3-right w3-hover-blue w3-text-grey"><span class="fa fa-user w3-margin-right w3-hide-small"></span>{{_("Profil")}}</a>
  {% if current_user.is_admin %}
  <a href="{{url_for('admin.dashboard')}}" class="w3-bar-item w3-button w3-right w3-hover-blue w3-text-grey"><span class="fa fa-gears w3-margin-right w3-hide-small"></span>{{_("Administration")}}</a>
  {% endif %}
  {% endif %}
</div>
