{% extends "base/base.html" %}
{%block title%}{{g.representative.name}}{%endblock%}
{% block main %}
<div class="w3-display-container w3-content" style="max-width:1532px;">
  <div class="w3-content" style="max-width:1532px;">
    <!-- The Grid -->
    <div class="w3-row-padding w3-margin">
      <!-- Left Column -->
      <div class="w3-third">
        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-container">
            <h1>{{g.representative.name}}</h1>
          </div>
          <div class="w3-container">
            <div class="w3-container">
              <div class="w3-twothird">
                <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i> {{g.representative.job}}</p>
                <p><i class="fa fa-flag fa-fw w3-margin-right w3-large w3-text-teal"></i> {{g.representative.country.name}}</p>
                <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i> email address</p>
                <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i> phone number</p>
              </div>
              <div class="w3-third">
                <img class="w3-round" src="{{ url_for('cdn', filename=g.representative.picture) }}" style="height:100%" alt="{{_('Photo de %s' % g.representative.name)}}">
              </div>
            </div>
            <hr>
            <p class="w3-large"><b><i class="fa fa-institution fa-fw w3-margin-right w3-text-teal"></i> {{_("Mandats")}}</b></p>
            {% for entity in g.representative.entities %}
            <div class="w3-container">
              <h2>{{entity.name}}</h2>
              {% for mandate in entity.mandates %}
              <p>{{mandate.role}} - {{_("Du %s au %s" % (mandate.start|dateformat, mandate.end|dateformat))}}</p>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="w3-twothird">
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-bullhorn fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i> {{_("Prises de position")}}</h2>
          {%for stance in g.representative.stances%}
          <div class="w3-container">
            <p class="w3-bottom-margin">
              <span class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> {{stance.date|dateformat}}</span>
              <a class="w3-right" href="{{stance.source.name}}">{{_("Voir la source")}}</a>
            </p>
            <p id="resume_{{loop.index}}">{{stance.message[:200]}}...
              <br>
              <button class="w3-button w3-teal w3-round w3-margin-top" onclick="toggle('{{loop.index}}')">{{_("Voir la suite...")}}</button>
            </p>
            <p class=" w3-hide" id="stance_{{loop.index}}">
              <button class="w3-button w3-teal w3-round w3-margin-bottom" onclick="toggle('{{loop.index}}')">{{_("Cacher cette prise de position")}}</button>
              <br>
              {{stance.message}}
            </p>
            <hr>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
function toggle(id){
  var resume = document.getElementById('resume_' + id);
  var stance = document.getElementById('stance_' + id);
  if (resume!=null) {
    if (resume.className.indexOf("w3-hide") == -1) {
      hide(resume);
      show(stance);
    } else {
      hide(stance);
      show(resume);
    }
  }
}

function hide(element){
  element.className += " w3-hide";
}

function show(element){
  element.className = element.className.replace(" w3-hide", "");
}
</script>
{% endblock %}
