{% extends "base/base.html" %}
{%block title%}{{_("Accueil")}}{%endblock%}
{% block main %}
  {% include "core/header.html" %}
  <div class="w3-content" style="max-width:1532px;">
    <div class="w3-row-padding w3-margin" id="about">
      <h1>{{_("À propos")}}</h1>
      <p>{{_("Politikorama est un site qui permet de lister les différentes prises de positions des femmes et des hommes politiques.")}}</p>
      <p>{{_("Cela permet à la fois de pouvoir retrouver des discours ou des citations, mais également de les mettre face à leurs propres incohérences lorsque leurs paroles vont à l'encontre de leurs actions.")}}</p>
    </div>

    <div class="w3-container w3-margin-top" id="representatives">
      <h1>{{_("Filtres")}}</h1>
      <p>{{_("Vous pouvez filtrer les représentants par pays, par parti, et par mandat.")}}</p>
    </div>

    <form action="search" method="POST">
    <div class="w3-row-padding">
      <div class="w3-col m3">
        <label for="country" class="w3-hide-small" style="margin: 4px;"><i class="fa fa-flag"></i> {{_("Pays")}}</label>
        <input id="country" class="w3-input w3-margin-bottom w3-border" type="text" placeholder="{{_("France")}}">
      </div>
      <div class="w3-col m3">
        <label for="party" class="w3-hide-small" style="margin: 4px;"><i class="fa fa-chart-pie"></i> {{_("Parti")}}</label>
        <input id="party" class="w3-input w3-margin-bottom w3-border" type="text" placeholder="{{_("Parti socialiste")}}">
      </div>
      <div class="w3-col m3">
        <label for="membership" class="w3-hide-small" style="margin: 4px;"><i class="fa fa-landmark"></i> {{_("Mandat")}}</label>
        <input id="membership" class="w3-input w3-margin-bottom w3-border" type="text" placeholder="{{_("Député")}}">
      </div>
      <div class="w3-col m2">
        <button class="w3-button w3-margin-bottom w3-block w3-blue w3-round" style="margin:23px 0px;"><i class="fa fa-search"></i> {{_("Lancer la recherche")}}</button>
      </div>
    </div>
    </form>

    <div class="w3-row-padding w3-padding-16">
      {%for representative in representatives%}
      <div class="w3-third w3-margin-bottom">
        <div class="w3-container w3-white">
          <img src="{{representative.picture_link}}" alt="{{representative.country.name}}" class="w3-image w3-circle w3-margin-top w3-right">
          <h2>{{representative.name}}</h2>
          <p class="w3-opacity">6 stances</p>
          <p>{{representative.membership}}</p>
          <button class="w3-button w3-block w3-green w3-margin-bottom w3-round">{{_("Voir le CV complet")}}</button>
        </div>
      </div>
      {%endfor%}
    </div>

    <div class="w3-panel w3-white w3-leftbar w3-border-blue w3-padding">
      <p><i class="fa fa-euro w3-padding"></i> {{_("Vous pouvez nous soutenir.")}}</p>
    </div>

    <div class="w3-container" id="contact">
      <h1>{{_("Contact")}}</h1>
      <p>{{_("Si vous avez la moindre question, vous pouvez nous joinre par mail ou via ce formulaire")}}</p>
      <i class="fa fa-envelope w3-text-red" style="width:30px"> </i> {{_("Adresse email : contact (at) politikorama (point) net")}}<br>
      <form action="/action_page.php" target="_blank">
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="{{_("Nom ou pseudo")}}" name="name"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="{{_("Adresse email")}}" name="email"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="{{_("Message")}}" name="message"></p>
        <p><button class="w3-right w3-margin w3-button w3-blue w3-padding-large w3-round" type="submit">{{_("Envoyer le message")}}</button></p>
      </form>
    </div>
  </div>
{% endblock %}
